/*Francisco Rossi:219401 y Guillermo Ramirez:207523*/
@media only screen and (max-width: 480px){ 			/* lo hace responsivo,si tiene menos de 480px cambia de color el fondo*/
	#BloqueCompleto {background-color: red;
		padding-left: 6%;
		margin-left: 5%;
		border-width: 0%;
	}


	nav ul li {display: inline;
		}


	table,th,td{
		border-collapse: collapse;
		border:solid;
		border-width:1px;
		text-align: center;
		padding: 10px;
	}

	nav {background-color : #EFF093;}


	footer {
		padding-left: 5%;
		background-color: darkgrey;
		text-align: right;
	}



	#idTeleCentroimagen {width: 100%;
		height: 100px;
	clear :both;}
}
@media only screen and (min-width: 481px) {  		/*mas de 481 cambia de color el fondo*/
	#BloqueCompleto {background-color: #E3F9FE;
		padding-left: 6%;
		margin-left: 5%;
		border-width: 0%;
	}


	nav ul li {display: inline;
		}


	table,th,td{
		border-collapse: collapse;
		border:solid;
		border-width:1px;
		text-align: center;
		padding: 10px;
	}

	nav {background-color : #EFF093;}


	footer {
		padding-left: 5%;
		background-color: darkgrey;
		text-align: right;
	}



	#idTeleCentroimagen {width: 100%;
		height: 100px;
	clear :both;}
}

